---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Profile">
	<div class="container">
		<main aria-role="main">
		  <div class="homepage-content">
			
			<h3 id="about-">About 👋</h3>
			<p>Apasionado profesional en DevSecOps, SRE y Cloud Engineer, con conocimientos en aprovisionamiento, automatización y administración de infraestructura.
			He completado con exito diversas certificaciones en AWS, Azure, Github, etc. </p>
			<p>Cuento con experiencia trabajando con Tecnologias como: Jenkins,Terraform y Ansible para el aprovisionamiento de infraestructura</p>
			<p>Gestión y administración de servicios Cloud en AWS y Azure, administración de Cluster Kubernetes y conocimientos en GitOps con ArgoCD</p>
			<p>Mis intereses principales cubren la seguridad, monitorización y Arquitectura</p>

			<h3 id="Resumen">Resumen</h3>
			<h2 id="experiencia">Experiencia</h2>
			<h1 id="soaint">SOAINT</h1>
			<p> Cliente: Pacifico Seguros </p>
			<p> • Automatización y CI/CD: Implementación de pipelines utilizando Github Action.</p>
			<p> • Proyectos de Migración: Participación en el proceso de migración de Teams desde Entra ID en Azure hacia Teams locales en Github.</p>
			<p> • Desarrollo con FastAPI: Creación de nuevos endpoints con FastAPI, pruebas y despliegue a producción.</p>
			<p> • Soporte a Desarrolladores: Asistencia a desarrolladores en la actualización y gestión de licencias de GitHub Copilot.</p>
			<p> • Administracion en Github : Gestión de Custom Properties, Actions, Rulesets, Users, Issues, Teams y SubTeams, Secrets, entre otros. </p>

			<h1 id="entelgy">ENTELGY</h1>
			<p> • Infraestructura en AWS: Experiencia en el levantamiento y administración de infraestructura en AWS, manejando servicios como RDS, Route 53, CloudFront, Lambda, EC2, CloudWatch, EKS, IAM, y Billing and Cost Management. </p>
			<p> • Análisis FinOps sobre AWS, implementando estrategias de reducción de costos y proyección de costos usando AWS Pricing Calculator.</p>
			<p> • Administración y monitorización de clusters Kubernetes.</p>
			<p> • Implementación y configuración de arquitectura en capas y clusters Tomcat, así como liderazgo en talleres de clusters Pacemaker de Alta Disponibilidad.</p>
			<p> • Administración de servidores linux con soluciones Liferay, análisis de logs, optimización de JVM y troubleshooting.</p>
			<p> • Implementación de Arquitectura Serverless en AWS, utilizando Serverless Framework y automatización de despliegue con CI/CD.</p>
			<p> • Mesa de Ayuda: Experiencia como analista en mesa de ayuda con Zendesk y Jira, manejo de bases de datos SQL y experiencia en Python.</p>
			<p> • Mantenimiento y actualización de la documentación técnica y procedimientos operativos estándar.</p>
			<p> Clientes: Telefonica Tech, Pandero, Tuenti, RPP, Kaufmann, Banco de la Republica de Colombia</p>
			
			<h2 id="certificaciones">Certificaciones</h2>
			<p> • GitHub Actions </p>
			<p> • Azure Fundamentals</p>
			<p> • Junior Cybersecurity Analyst</p>
			<p> • AWS Certified Developer - Associate</p>
			<p> • AWS Certified Solutions Architect – Associate</p>
			<p> • AWS Certified Cloud Practitioner </p>
			
			<h3 id="contact">Contact</h3>
			<p>Aquí puedes poner tus datos de contacto</p>
		  </div>
		</main>
	</div>
</Layout>

<style>
	
</style>
