---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Profile">
	<div class="container">
		<main aria-role="main">
		  <div class="homepage-content">
			
			<h3 id="about-">About 👋</h3>
			<p>Profesional en DevSecOps, SRE y Cloud Engineer, con conocimientos en aprovisionamiento, automatización y administración de infraestructura.
			He completado con exito diversas certificaciones en AWS, Azure, Github, etc. </p>
			<p>Cuento con experiencia trabajando con Tecnologias como: Jenkins,Terraform y Ansible para el aprovisionamiento de infraestructura</p>
			<p>Gestión y administración de servicios Cloud en AWS y Azure, administración de Cluster Kubernetes y conocimientos en GitOps con ArgoCD</p>
			<p>Mis intereses principales cubren la seguridad, monitorización y Arquitectura</p>

			<h3>Experiencia</h3>
			<div class="job">
				<p class="experience"> DevSecOps | Soaint </p>
				<p class="experience" style="color: grey"> Jul 2024 - actualidad</p>
			</div>

			<p> <strong>Clientes:</strong> Pacifico Seguros</p>

			<ul>
				<li> Automatización y CI/CD: Implementación de pipelines utilizando Github Action.</p>
				<li> Proyectos de Migración: Participación en el proceso de migración de Teams desde Entra ID en Azure hacia Teams locales en Github.</li>
				<li> Desarrollo con FastAPI: Creación de nuevos endpoints con FastAPI, pruebas y despliegue a producción.</li>
				<li> Soporte a Desarrolladores: Asistencia a desarrolladores en la actualización y gestión de licencias de GitHub Copilot.</li>
				<li> Administracion en Github : Gestión de Custom Properties, Actions, Rulesets, Users, Issues, Teams y SubTeams, Secrets, entre otros. </li>
			</ul>

			<div class="job">
				<p class="experience">Cloud Infrastructure Analyst | Entelgy </p>
				<p class="experience">Jul 2022 - Jul 2024</p>
			</div>
			
			<p> <strong>Clientes:</strong> Telefonica Tech, Pandero, Tuenti, RPP, Kaufmann, Banco de la Republica de Colombia</p>

			<ul>
				<li> Infraestructura en AWS: Experiencia en el levantamiento y administración de infraestructura en AWS, manejando servicios como RDS, Route 53, CloudFront, Lambda, EC2, CloudWatch, EKS, IAM, y Billing and Cost Management. </li>
				<li> Análisis FinOps sobre AWS, implementando estrategias de reducción de costos y proyección de costos usando AWS Pricing Calculator.</li>
				<li> Administración y monitorización de clusters Kubernetes.</p>
				<li> Implementación y configuración de arquitectura en capas y clusters Tomcat, así como liderazgo en talleres de clusters Pacemaker de Alta Disponibilidad.</li>
				<li> Administración de servidores linux con soluciones Liferay, análisis de logs, optimización de JVM y troubleshooting.</li>
				<li> Implementación de Arquitectura Serverless en AWS, utilizando Serverless Framework y automatización de despliegue con CI/CD.</li>
				<li> Mesa de Ayuda: Experiencia como analista en mesa de ayuda con Zendesk y Jira, manejo de bases de datos SQL y experiencia en Python.</li>
				<li> Mantenimiento y actualización de la documentación técnica y procedimientos operativos estándar.</li>
			</ul>
			
			
			<h2>Certificaciones</h2>

			<ul>
				<li> <span><i class="fa-brands fa-github" style="color: #3f485a;"></i></span> GitHub Actions </li>
				<li> <span><i class="fa-brands fa-github" style="color: #3f485a;"></i></span> GitHub Foundations </li>
				<li> <span><i class="fa-brands fa-microsoft" style="color: #008ad7;"></i></span> Azure Fundamentals</li>
				<li> <span><i class="fa-solid fa-lock" style="color: #0e2d62;"></i></span> Junior Cybersecurity Analyst</li>
				<li> <span><i class="fa-brands fa-aws" style="color: #ff9900;"></i></span> AWS Certified Developer - Associate</li>
				<li> <span><i class="fa-brands fa-aws" style="color: #ff9900;"></i></span> AWS Certified Solutions Architect – Associate</li>
				<li> <span><i class="fa-brands fa-aws" style="color: #ff9900;"></i></span> AWS Certified Cloud Practitioner </li>
			</ul>

			<h3>Contact</h3>
			<p>Aquí puedes poner tus datos de contacto</p>
		  </div>
		</main>
	</div>
</Layout>

<style>
	
</style>
