---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro'
---

<Layout title="Projects">
	<div class="container">
		<main aria-role="main">
		  <div class="homepage-content">
			
			<h3 id="about-">Projects </h3>
			<Carousel></Carousel>
		  </div>
		</main>
	</div>
</Layout>

<style>
	
</style>