---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
	<div class="container">
		<main aria-role="main">
		  <div class="homepage-content">
			
			<h3 id="about-">Projects </h3>
			
		  </div>
		</main>
	</div>
</Layout>

<style>
	
</style>